<div class="containers">
    <div class="row">
        <div class="col-md-4">
            <h2>Sign up for our exclusive Newsletter</h2>
        </div>
        <div class="col-md-4">
            <input type="mail" class="input" placeholder="Email">
            <button type="button" class="btn"><i class="fa fa-location-arrow"></i>
            </button>
        </div>
        <div class="col-md-4">
            <div class="social text-center">
                <ul>

                    <li><a href=""><i class="fa-brands fa-facebook" style="position: absolute;
                        top:45%;
                        left: 50%;
                        transform: translate(-50%, -50%);"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter" style="position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram" style="position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-pinterest" style="position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);"></i></a></li>

                </ul>
            </div>
        </div>
    </div>

</div>