<div class="containers">
    <div class="row">
        <div class="col-md-4">
            <div class="footer-logo">
                <img src="../../../assets/images/logo.svg" alt="footer-logo">
            </div>
            <div class="footer-top-menu">
                <ul>
                    <li>
                        <i class="fa-solid fa-house" style="margin-right: 10px; font-size: 1.2rem;"></i>
                        <span class="heading">Adress:</span>
                        <span class="address">Rua Resende, 150. Rio das ostras,Brasil</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope" style="margin-right: 10px; font-size: 1.2rem;"></i>
                        <span class="heading">Mail us:</span>
                        <span class="email">
                            <a href="mailto:">placeholder@gmail.com</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-phone"style="margin-right: 10px; font-size: 1.2rem;"></i>
                        <span class="heading">Phone:</span>
                        <span class="number">
                            <a href="tel:55-22-9-9999-9999">+55 22 9 9999 9999</a>
                        </span>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../../assets/images/payment1.png" alt="payment">
                            <img src="../../../assets/images/payment2.png" alt="payment">
                            <img src="../../../assets/images/payment3.png" alt="payment">
                            <img src="../../../assets/images/payment4.png" alt="payment">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-all-menu">
               <h2>My Account</h2> 
               <ul>
                <li>
                    <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                    <a href="">Information</a>
                </li>
                <li>
                    <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                    <a href="">Order History</a>
                </li>
                <li>
                    <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                    <a href="">My Wishlist</a>
                </li>
                <li>
                    <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                    <a href="">Privacy Policy</a>
                </li>
                <li>
                    <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                    <a href="">Site Map</a>
                </li>
               </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-all-menu">
                <h2>Information</h2> 
                <ul>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Cart</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Product Support</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">PC Setup &amp; Support</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Services</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Extended Services Plans</a>
                 </li>
                </ul>
             </div>
        </div>
        <div class="col-md-2">
            <div class="footer-all-menu">
                <h2>Our Services</h2> 
                <ul>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">About</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Shipping Guide</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Store Location</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Affiliates</a>
                 </li>
                 <li>
                     <i class="fa fa-circle" style="font-size: 7px; margin: -2px 10px 0 0; " ></i>
                     <a href="">Customer Point Policy</a>
                 </li>
                </ul>
             </div>
        </div>
    </div>
</div>