<div class="containers">
    <div class="bg-position">
        <owl-carousel-o [options]="policyOptions">
            <ng-template carouselSlide>
                <div class="policy-p-card">
                    <div class="date">
                        <h3>25</h3>
                        <h4>Jun</h4>
                    </div>
                    <div class="policy-img">
                        <img src="../assets/images/collection-2.jpg" alt="P1">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                        Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque non augue eget
                        maximus. Quisque gravida finibus tellus eget mollis</p>
                    <a href="" class="read-more">Read More <i class="fa-solid fa-square-caret-right"></i></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="policy-p-card">
                    <div class="date">
                        <h3>25</h3>
                        <h4>Jun</h4>
                    </div>
                    <div class="policy-img">
                        <img src="../assets/images/collection-2.jpg" alt="P1">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                        Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque non augue eget
                        maximus. Quisque gravida finibus tellus eget mollis</p>
                    <a href="" class="read-more">Read More <i class="fa-solid fa-square-caret-right"></i></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="policy-p-card">
                    <div class="date">
                        <h3>25</h3>
                        <h4>Jun</h4>
                    </div>
                    <div class="policy-img">
                        <img src="../assets/images/collection-2.jpg" alt="P1">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                        Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque non augue eget
                        maximus. Quisque gravida finibus tellus eget mollis</p>
                    <a href="" class="read-more">Read More <i class="fa-solid fa-square-caret-right"></i></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="policy-p-card">
                    <div class="date">
                        <h3>20</h3>
                        <h4>Dez</h4>
                    </div>
                    <div class="policy-img">
                        <img src="../assets/images/collection-1.jpg" alt="P1">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                        Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque non augue eget
                        maximus. Quisque gravida finibus tellus eget mollis</p>
                    <a href="" class="read-more">Read More <i class="fa-solid fa-square-caret-right"></i></a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="policy-p-card">
                    <div class="date">
                        <h3>30</h3>
                        <h4>Ago</h4>
                    </div>
                    <div class="policy-img">
                        <img src="../assets/images/collection-3.jpg" alt="P1">
                    </div>
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                        Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Nullam pellentesque non augue eget
                        maximus. Quisque gravida finibus tellus eget mollis</p>
                    <a href="" class="read-more">Read More <i class="fa-solid fa-square-caret-right"></i></a>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</div>