<section class="BannerSlider">
    <app-banner-slider></app-banner-slider>
</section>


<section class="best-Seller">
    <div class="containers">
        <app-best-selling></app-best-selling>
    </div>
</section>


<section class="testimonial">
    <app-header-slider></app-header-slider>
</section>
<section class="bg-color">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="bigCards">
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>
        <app-big-card></app-big-card>

    </div>
</section>
<section class="policy">
    <app-policy></app-policy>
</section>
<section class="policy-product">
    <app-policy-product></app-policy-product>
</section>
<section class="partners">
    <app-partners></app-partners>
</section>
<section class="footer-top">
    <app-footer></app-footer>
</section>
<section class="footer-middle">
    <app-midias></app-midias>
</section>
<footer>
    <app-direitos-autorais></app-direitos-autorais>
</footer>