<div class="best-selling-container">
    <div class="sale-price">
        sale <strong>14%</strong>
    </div>
    <div class="selling-col-1">
        <div class="selling-left">
            <ul>
                <li>
                    <span class="count-date">194</span>
                    <span class="count-day">Days</span>
                </li>
                <li>
                    <span class="count-date">01</span>
                    <span class="count-day">Hours</span>
                </li>
                <li>
                    <span class="count-date">22</span>
                    <span class="count-day">Mins</span>
                </li>
                <li>
                    <span class="count-date">24</span>
                    <span class="count-day">Secs</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="selling-col-2">
        <div class="selling-img">
            <img src="../../../assets/images/product-2.jpg" alt="">
        </div>
    </div>
    <div class="seeling-col-3">
        <div class="selling-heading">
            <a href="javascript:void(0);">Red Nike Shoes</a>
            <div class="selling-rating">
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
            </div>
        </div>
        <p>
            On the other hand, we denounce with righteous indignati
            on and dislike men who are so beguiled and demoralized by the 
            charms of pleasure of the moment, so blinded by desire, that th
            ey cannot foresee the pain and trouble that are bound to ensue; and
             equal blame belongs to those who fail in their duty through weakne
             ss of will, which is the same as saying through shrinking from toil an
             d pain. These cases are perfectly simple and easy to distinguish
        </p>
        <h3>
            <span class="selling-amount">$230.00</span>
            <span class="selling-discount">$100.00</span>
        </h3>
        <div class="selling-button">
            <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
            <button type="button" class="main-button">
            <a href="javascript:void(0);"><i class="fa-solid fa-heart"></i></a>
            <a href="javascript:void(0);"><i class="fa-solid fa-search"></i></a>
        </button>
        </div>
    </div>
</div>