<owl-carousel-o [options]="testimonialSlider">
    <ng-template carouselSlide>
        <div class="testimonial-image">
            <img src="../../../assets/images/insta-1.jpg" alt="">
        </div>
        <div class="testimonial-content text-center">
            <h2>Maria</h2>
            <h3>Blog Personal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                magnis dis parturient mo</p>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="testimonial-image">
            <img src="../../../assets/images/insta-1.jpg" alt="">
        </div>
        <div class="testimonial-content text-center">
            <h2>Maria</h2>
            <h3>Blog Personal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                magnis dis parturient mo</p>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="testimonial-image">
            <img src="../../../assets/images/insta-1.jpg" alt="">
        </div>
        <div class="testimonial-content text-center">
            <h2>Maria</h2>
            <h3>Blog Personal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor placerat fermentum.
                Pellentesque tempor diam dui, in pretium urna lacinia ut. Orci varius natoque penatibus et
                magnis dis parturient mo</p>
        </div>
    </ng-template>  
    
  </owl-carousel-o>